@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --color-main: #111191;
  --color-blck: #000814;
  --color-blckbg: #190f24;
  --color-whte: #48cae4;
  --color-gray: #90e0ef;
  --color-gray2: #999;
  --color-blue: #1447e6;
}

.container {
  @apply mx-auto w-[95%] xs:max-w-[93%] sm:max-w-[91%] md:max-w-[88%] lg:max-w-[83%] xl:max-w-[77%] 2xl:max-w-[70%];
}

body {
  font-family: "Poppins", sans-serif;
}
.fontMon {
  font-family: "Montserrat", sans-serif;
}

.fontserif {
  font-family: "Playfair Display", serif;
}
.fontRoma {
  font-family: "Michroma", sans-serif;
}

.btn {
  @apply py-1 px-4 rounded cursor-pointer border-2 border-blck hover:bg-gray block dark:border-whte dark:text-white dark:hover:bg-blckbg;
}

.btnCircle {
  @apply p-3 rounded-full cursor-pointer hover:text-gray2;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.smoothy {
  @apply transition-all duration-300 ease-in-out;
}

.link {
  @apply block p-2 hover:text-blue w-full sm:w-fit;
}

.footerLink {
  @apply block p-2 hover:text-blue;
}

.normalBg {
  @apply bg-gray dark:bg-blckbg;
}

.normalText {
  @apply text-blck dark:text-whte;
}

.bodyBg {
  @apply bg-whte dark:bg-blck;
}

.heading {
  @apply text-center text-3xl  mb-6;
}

.navItem {
  @apply w-full sm:w-fit text-center;
}

::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-900;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  @apply px-3 py-2;
}
